<form [formGroup]="formSearchMovie" (submit)="onSearchMovie()">
  <div class="row">
    <div class="col-md-12">
      <div class="listing__head">
        <h1 class="listing__title">Movies</h1>
      </div>
      <div class="form-group container-group">
        <div class="input-group d-flex search-group">
          <input type="text"
                 class="form-control search-movie-input"
                 placeholder="Search for movies..."
                 formControlName="titleMovie"
                 (keyup.enter)="onSearchMovie()">
          <span class="input-group-btn">
            <button class="btn btn-primary btn-submit"
                    (click)="onSearchMovie()">Go!</button>
          </span>
        </div>

        <mat-form-field>
          <mat-label>Year</mat-label>
          <mat-select formControlName="year"
                      (selectionChange)="onSearchMovie()">
            <mat-option *ngFor="let year of listOfYears"
                        [value]="year">{{ year }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Genres</mat-label>
          <mat-select formControlName="genre"
                      (selectionChange)="onSearchMovie()">
            <mat-option *ngFor="let genre of searchMovieService?.movieGenres"
                        [value]="genre">{{ genre }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</form>
